


/*common css*/

.headingTitle{
    margin-bottom: 40px;
}
.headingTitle h2 {
    color: #8E2DE2;
    text-transform: uppercase;
}

.sectionMarginPadding{
    margin-top: 50px;
    padding: 40px;
}

.btnGadiant{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E2DE2,#4A00E0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




/*TopBar css*/
.topBarSection{
    background: #000000;
    padding: 5px;
}
.topBarCommon{
    color: #8fbfff;
}
.topBarMobileIcon, .topBarAddressIcon ,.topBarClockIcon{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


/*Top menu css*/

.topMenu{
    /*background: #2F4371;*/
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all .5s;
}
.topMenuScroll{
    background: #ffffff;
    box-shadow: 0px 1px 5px #a24cf1;
    transition: all .5s;
    position: fixed !important;
    z-index: 99999;
    width: 100%;
    top: 0px;
}
.topMenuLink{
    color:#fff !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.topMenuLinkScroll{
    color:#2c2c2c !important;
    text-transform: uppercase;

}

/*slider*/
.carousel-item img{
    width: 100%;
  height: 650px;
}
.carousel-indicators{
    display: none !important;
}

.siteAnalytic{
    margin:0px auto;
    margin-top: -45px;
}
.siteAnalyticItem{
    box-shadow: 0px 0px 4px #8fa7ff;
    background: #ffffff;
    padding:20px 0px;
}
.siteAnalyticItem h4{
    font-family: 'Montserrat', sans-serif;
    color: #2c2c2c;
    font-size: 14px;
    text-transform: uppercase;
}
.siteAnalyticItem h3{
    font-family: 'Montserrat', sans-serif;
    color: #888888;
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
}
.siteAnalyticCol:hover{
    transform: scale(1.1, 1.1);
    transition: ease-out .5s;
    z-index: 1 !important;
    cursor:pointer;
}

.siteAnalyticItem img{
    width: 60px;
    height: 60px;
}



/*AboutUs*/
.aboutTitle{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #8E2DE2;
}
.aboutImage img{
    width:100%;
}
.aboutDes{
    color: #777777;
    font-family: 'Raleway', sans-serif;
}
.aboutBtn{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E2DE2,#4A00E0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.aboutBtn:hover{
    transition: ease-in .5s;
    background: #8E2DE2;
}





/*service*/
.homeService{
    background: #f7f7f7;
}
.serviceRow{
    margin-top: 30px;
}
.serviceItemCol {
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 4px #8fa7ff;
}
.serviceItemCol a{
    text-decoration: none !important;
}
.serviceItemCol:hover{
    transform: scale(1.055, 1.055);
    transition: ease-out .5s;
    z-index: 1;
}
.serviceItemCol h3{
    font-size: 14px;
    color:#909090;
}
.serviceItem{
    padding: 10px;
}
.serviceItem img{
    width:100px;


}

.serviceItem h3{
   color: #2c2c2c;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
}


/*course*/

.courseItem{
    padding: 10px;
    height: 350px;
    overflow-y: scroll;

}
.courseItem h3{
    font-size: 16px;
}
.courseItem h4{
    font-size: 14px;
}

.courseItemList{
    padding: 10px;
    box-shadow: 0px 0px 1px  #8fa7ff;
}
.courseItemListCol a{
    text-decoration: none !important;
}

.courseItemList:hover{
  background: #fff3cd;
}


.courseItemList img{
    width: 80px;
    height: 80px;
}
.courseItemList h3{
    margin-top: 10px;
    font-size: 15px;
}
.courseSlider ul  {
   margin-top: 50px;
}

.courseSlider ul li button:before {
    background: blue !important;
    color: red !important;
}

.courseSlider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    bottom: -70px;
}

.courseListSlide{
    margin-left: 20px;
}
.courseListSlide h2{
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    color: #8E2DE2;
    font-size: 25px;
}
.courseListSlide p{
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #969696;
    margin: 16px 0px;
}



/*learn work css*/
.learnWorkContainer{
    background-image: url("../images/banner.jpg");
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;

}

.learnWorkOverlay{
    background:rgba(0,0,0,.5);
    height: 300px;

}

.learnWorkTeam{
    margin-top: 110px;
}
.learnWorkTeam h3{
    color:#ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.learnWorkTeam h2{
    color: #ffffff;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.learnHowWork{
    background: #ffffff;
    text-align: left;
    margin-top: 70px;
    padding: 15px;
    border-radius: 10px;
}
.learnHowWork ul{

    margin:0px;
    list-style: none;
    text-align: left;
    padding: 0px;
}

.learnHowWork h3 {
    font-size: 25px;
    color: #8080ff;
    text-transform: uppercase;
    margin: 10px;
}

.learnHowWork ul li span {
    color: #808080;
    margin: 13px 0px;
    font-size: 20px;
    text-transform: capitalize;
}

/*Recent Project*/
.recentProject{
    padding: 15px 10px;
    border: 2px solid #e8e8e8;
    position: relative;
}

.recentProjectImg img{
    width:100%;
    max-height: 350px;
}
.recentProjectContent{
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    padding: 0px 15px;
}

.recentProjectCol:hover{
    transform: scale(.9, .9);
    transition: ease-out .3s;
    z-index: 1;
}

.recentProjectContent h3{
    margin-top: 90px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}

.recentProjectContent p{
    color:#ffffff;
}

/*Achievement css*/

.achievementSection{
    background: #f9f9f9;
    padding: 60px 0px;
}

.achievement h2{
    color: #8E2DE2;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.achievement p{
    margin-bottom: 30px;
}

.video-react .video-react-big-play-button {

    top: 115px !important;
    left: 0px;
    right: 0px;

    margin: 0px auto;
}

.slick-initialized .slick-slide {

    text-align: center;

}

.review{
    padding-left: 10px;
    margin-top: 5px !important;
}

.review img{
    width: 100px;
}

.slick-slide img {
    margin: 0px auto;
}


.review h2 {
    margin-top: 25px;
    color: #888;
    font-family: 'Montserrat',sans-serif;
}
.footer{
margin-top: 70px;
}

.footerTittle h3{
color:#fff;
font-family: 'Montserrat',sans-serif;
margin-bottom: 20px;
}

.footerTop{
    background: cornflowerblue;
    padding: 60px 0px;
}

.footerPart2 p{
    text-align: left;
}

.footerPart2 p a{
    color:#ffffff;
    text-align: left;
}

.footerPart4 p{
    text-align: left;
}

.footerPart4 p a{
    color:#ffffff;
    text-align: left;
}

.footerPart3 p{
    text-align: left;
    color:#FFF;
}

.footerPart1 img{
    margin-top:40px;
}

.footerPart1 h5{
    text-transform:uppercase;
    color:#fff;
    font-size: 14px;
}

.copyRight{
    background-color: rgb(93, 93, 253);
    padding: 10px 0px;

}
.copyRight h3{
    color:#ffffff;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}
